{{#if authenticating}}
Authing
{{else}}
<div class="container">
  {{#if hasError}}
    <div class="errorMessage">
        {{errorMessage}}
    </div>
  {{/if}}
  <form class="form-signin" {{action 'authenticate' on='submit'}}>
      <h2 class="form-signin-heading">Please sign in</h2>
      {{input class='form-control' placeholder='Enter Login' value=identification}}
      {{input class="form-control" placeholder='Enter Password' type='password' value=password}}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>

{{/if}}
